[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# Microsoft .NET properties
csharp_indent_switch_labels = false
csharp_new_line_before_catch = false
csharp_new_line_before_else = false
csharp_new_line_before_finally = false
csharp_new_line_before_open_brace = types
csharp_new_line_between_query_expression_clauses = false
csharp_preferred_modifier_order = public, private, protected, internal, extern, abstract, virtual, sealed, static, readonly, volatile, new, override, unsafe, async:warning
csharp_style_expression_bodied_accessors = false:none
csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_properties = false:none
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_var_elsewhere = false:suggestion
csharp_style_var_for_built_in_types = false:error
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_using_directive_placement = inside_namespace:silent
dotnet_naming_rule.local_functions_rule.import_to_resharper = as_predefined
dotnet_naming_rule.local_functions_rule.severity = warning
dotnet_naming_rule.local_functions_rule.style = lower_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols = local_functions_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix = _
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_functions_symbols.applicable_kinds = local_function
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static, readonly
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:suggestion
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_argument = true
resharper_align_multiline_binary_patterns = true
resharper_align_multiline_calls_chain = true
resharper_align_multiline_expression = true
resharper_align_multiline_extends_list = true
resharper_align_multiline_for_stmt = true
resharper_align_multiline_parameter = true
resharper_align_multiple_declaration = true
resharper_align_multline_type_parameter_constrains = true
resharper_align_multline_type_parameter_list = true
resharper_align_tuple_components = true
resharper_allow_comment_after_lbrace = true
resharper_apply_auto_detected_rules = false
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 2
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_local_method = 0
resharper_blank_lines_around_property = 0
resharper_blank_lines_around_single_line_type = 0
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required
resharper_braces_for_using = not_required
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_can_use_global_alias = false
resharper_continuous_indent_multiplier = 2
resharper_csharp_align_first_arg_by_paren = true
resharper_csharp_allow_alias = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_namespace = 0
resharper_csharp_blank_lines_inside_region = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_insert_final_newline = true
resharper_csharp_int_align_comments = true
resharper_csharp_keep_blank_lines_in_code = 1
resharper_csharp_keep_blank_lines_in_declarations = 1
resharper_csharp_naming_rule.other = aaBb
resharper_csharp_outdent_commas = true
resharper_csharp_stick_comment = false
resharper_csharp_use_indent_from_previous_element = false
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_before_comma = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_indent_braces_inside_statement_conditions = false
resharper_indent_nested_foreach_stmt = true
resharper_indent_nested_for_stmt = true
resharper_indent_nested_while_stmt = true
resharper_indent_switch_labels = false
resharper_instance_members_qualify_declared_in = base_class
resharper_int_align_fields = true
resharper_int_align_methods = true
resharper_int_align_nested_ternary = true
resharper_int_align_properties = true
resharper_int_align_switch_expressions = true
resharper_int_align_switch_sections = true
resharper_int_align_variables = true
resharper_keep_existing_attribute_arrangement = true
resharper_keep_existing_declaration_parens_arrangement = false
resharper_keep_existing_embedded_arrangement = false
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_expr_member_arrangement = false
resharper_keep_existing_initializer_arrangement = false
resharper_keep_existing_invocation_parens_arrangement = false
resharper_keep_existing_linebreaks = false
resharper_keep_existing_property_patterns_arrangement = false
resharper_keep_existing_switch_expression_arrangement = false
resharper_local_function_body = expression_body
resharper_max_array_initializer_elements_on_line = 6
resharper_max_attribute_length_for_same_line = 22
resharper_max_enum_members_on_line = 6
resharper_max_formal_parameters_on_line = 8
resharper_max_initializer_elements_on_line = 6
resharper_max_invocation_arguments_on_line = 6
resharper_modifiers_order = public private protected internal extern abstract virtual sealed static readonly volatile new override unsafe async
resharper_nested_ternary_style = compact
resharper_outdent_binary_ops = true
resharper_outdent_binary_pattern_ops = true
resharper_outdent_statement_labels = true
resharper_parentheses_non_obvious_operations = none, null_coalescing, bitwise, bitwise_inclusive_or, range, bitwise_exclusive_or, shift, bitwise_and
resharper_place_field_attribute_on_same_line = if_owner_is_single_line
resharper_place_linq_into_on_new_line = false
resharper_place_method_attribute_on_same_line = if_owner_is_single_line
resharper_place_simple_accessorholder_on_single_line = true
resharper_place_simple_case_statement_on_same_line = if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_enum_on_single_line = true
resharper_place_simple_switch_expression_on_single_line = true
resharper_prefer_explicit_discard_declaration = true
resharper_qualified_using_at_nested_scope = true
resharper_show_autodetect_configure_formatting_tip = false
resharper_space_after_operator_keyword = false
resharper_space_between_attribute_sections = false
resharper_trailing_comma_in_multiline_lists = true
resharper_trailing_comma_in_singleline_lists = true
resharper_use_indent_from_vs = false
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_chained_method_calls = chop_if_long
resharper_wrap_enum_declaration = chop_if_long
resharper_wrap_object_and_collection_initializer_style = chop_always
resharper_xmldoc_allow_far_alignment = true
resharper_xmldoc_attribute_indent = align_by_first_attribute
resharper_xmldoc_attribute_style = on_single_line
resharper_xmldoc_blank_line_after_pi = false
resharper_xmldoc_indent_size = 2
resharper_xmldoc_keep_user_linebreaks = false
resharper_xmldoc_max_line_length = 140
resharper_xmldoc_space_before_self_closing = false
resharper_xmldoc_tab_width = 2

# ReSharper inspection severities
resharper_annotate_not_null_parameter_highlighting = warning
resharper_annotate_not_null_type_member_highlighting = warning
resharper_annotation_redundancy_in_hierarchy_highlighting = error
resharper_arrange_attributes_highlighting = hint
resharper_arrange_default_value_when_type_evident_highlighting = error
resharper_arrange_default_value_when_type_not_evident_highlighting = error
resharper_arrange_missing_parentheses_highlighting = hint
resharper_arrange_object_creation_when_type_evident_highlighting = warning
resharper_arrange_object_creation_when_type_not_evident_highlighting = warning
resharper_arrange_redundant_parentheses_highlighting = warning
resharper_arrange_static_member_qualifier_highlighting = warning
resharper_arrange_trailing_comma_in_singleline_lists_highlighting = none
resharper_arrange_var_keywords_in_deconstructing_declaration_highlighting = none
resharper_async_void_method_highlighting = warning
resharper_auto_property_can_be_made_get_only_global_highlighting = hint
resharper_auto_property_can_be_made_get_only_local_highlighting = warning
resharper_base_member_has_params_highlighting = error
resharper_check_for_reference_equality_instead_1_highlighting = none
resharper_check_for_reference_equality_instead_2_highlighting = none
resharper_check_for_reference_equality_instead_3_highlighting = none
resharper_check_for_reference_equality_instead_4_highlighting = none
resharper_check_namespace_highlighting = none
resharper_class_can_be_sealed_global_highlighting = hint
resharper_class_can_be_sealed_local_highlighting = warning
resharper_class_never_instantiated_global_highlighting = none
resharper_collection_never_queried_global_highlighting = none
resharper_collection_never_updated_global_highlighting = none
resharper_conditional_ternary_equal_branch_highlighting = error
resharper_convert_if_do_to_while_highlighting = none
resharper_convert_if_statement_to_switch_statement_highlighting = none
resharper_convert_to_compound_assignment_highlighting = none
resharper_convert_to_constant_global_highlighting = suggestion
resharper_convert_to_constant_local_highlighting = warning
resharper_empty_embedded_statement_highlighting = none
resharper_enforce_do_while_statement_braces_highlighting = error
resharper_enforce_fixed_statement_braces_highlighting = error
resharper_enforce_foreach_statement_braces_highlighting = error
resharper_enforce_for_statement_braces_highlighting = error
resharper_enforce_if_statement_braces_highlighting = error
resharper_enforce_lock_statement_braces_highlighting = error
resharper_enforce_while_statement_braces_highlighting = error
resharper_field_can_be_made_read_only_global_highlighting = hint
resharper_field_can_be_made_read_only_local_highlighting = warning
resharper_for_can_be_converted_to_foreach_highlighting = none
resharper_invert_condition_1_highlighting = none
resharper_join_declaration_and_initializer_highlighting = warning
resharper_local_function_can_be_made_static_highlighting = warning
resharper_member_can_be_made_static_global_highlighting = suggestion
resharper_member_can_be_made_static_local_highlighting = suggestion
resharper_member_can_be_private_global_highlighting = none
resharper_member_can_be_private_local_highlighting = none
resharper_member_can_be_protected_global_highlighting = none
resharper_member_can_be_protected_local_highlighting = none
resharper_merge_cast_with_type_check_highlighting = none
resharper_merge_into_logical_pattern_highlighting = none
resharper_method_has_async_overload_highlighting = none
resharper_method_has_async_overload_with_cancellation_highlighting = none
resharper_method_supports_cancellation_highlighting = none
resharper_more_specific_foreach_variable_type_available_highlighting = warning
resharper_nested_string_interpolation_highlighting = warning
resharper_parameter_type_can_be_enumerable_global_highlighting = none
resharper_parameter_type_can_be_enumerable_local_highlighting = none
resharper_public_constructor_in_abstract_class_highlighting = none
resharper_razor_layout_not_resolved_highlighting = none
resharper_razor_section_not_resolved_highlighting = none
resharper_redundant_cast_highlighting = none
resharper_redundant_is_before_relational_pattern_highlighting = error
resharper_remove_constructor_invocation_highlighting = error
resharper_remove_redundant_or_statement_false_highlighting = warning
resharper_remove_redundant_or_statement_true_highlighting = warning
resharper_remove_to_list_1_highlighting = error
resharper_remove_to_list_2_highlighting = error
resharper_replace_with_first_or_default_1_highlighting = none
resharper_replace_with_first_or_default_2_highlighting = none
resharper_replace_with_first_or_default_3_highlighting = none
resharper_replace_with_first_or_default_4_highlighting = none
resharper_replace_with_last_or_default_1_highlighting = none
resharper_replace_with_last_or_default_2_highlighting = none
resharper_replace_with_last_or_default_3_highlighting = none
resharper_replace_with_last_or_default_4_highlighting = none
resharper_replace_with_of_type_any_1_highlighting = none
resharper_replace_with_of_type_any_2_highlighting = none
resharper_replace_with_of_type_count_1_highlighting = none
resharper_replace_with_of_type_count_2_highlighting = none
resharper_replace_with_of_type_first_1_highlighting = none
resharper_replace_with_of_type_first_2_highlighting = none
resharper_replace_with_of_type_first_or_default_1_highlighting = none
resharper_replace_with_of_type_first_or_default_2_highlighting = none
resharper_replace_with_of_type_last_1_highlighting = none
resharper_replace_with_of_type_last_2_highlighting = none
resharper_replace_with_of_type_last_or_default_1_highlighting = none
resharper_replace_with_of_type_last_or_default_2_highlighting = none
resharper_replace_with_of_type_long_count_highlighting = none
resharper_replace_with_of_type_single_1_highlighting = none
resharper_replace_with_of_type_single_2_highlighting = none
resharper_replace_with_of_type_single_or_default_1_highlighting = none
resharper_replace_with_of_type_single_or_default_2_highlighting = none
resharper_replace_with_of_type_where_highlighting = none
resharper_replace_with_simple_assignment_false_highlighting = none
resharper_replace_with_simple_assignment_true_highlighting = none
resharper_replace_with_single_assignment_false_highlighting = none
resharper_replace_with_single_assignment_true_highlighting = none
resharper_replace_with_string_is_null_or_empty_highlighting = warning
resharper_return_type_can_be_enumerable_global_highlighting = none
resharper_return_type_can_be_enumerable_local_highlighting = none
resharper_safe_cast_is_used_as_type_check_highlighting = none
resharper_simplify_conditional_ternary_expression_highlighting = warning
resharper_simplify_linq_expression_use_all_highlighting = none
resharper_simplify_linq_expression_use_any_highlighting = none
resharper_string_compare_is_culture_specific_1_highlighting = none
resharper_string_compare_is_culture_specific_2_highlighting = none
resharper_string_compare_is_culture_specific_3_highlighting = none
resharper_string_compare_is_culture_specific_4_highlighting = none
resharper_string_compare_is_culture_specific_5_highlighting = none
resharper_string_compare_is_culture_specific_6_highlighting = none
resharper_string_compare_to_is_culture_specific_highlighting = none
resharper_string_index_of_is_culture_specific_1_highlighting = none
resharper_string_index_of_is_culture_specific_2_highlighting = none
resharper_string_index_of_is_culture_specific_3_highlighting = none
resharper_string_last_index_of_is_culture_specific_1_highlighting = none
resharper_string_last_index_of_is_culture_specific_2_highlighting = none
resharper_string_last_index_of_is_culture_specific_3_highlighting = none
resharper_struct_member_can_be_made_read_only_highlighting = suggestion
resharper_suggest_base_type_for_parameter_highlighting = none
resharper_suggest_base_type_for_parameter_in_constructor_highlighting = none
resharper_suggest_discard_declaration_var_style_highlighting = suggestion
resharper_suggest_var_or_type_simple_types_highlighting = warning
resharper_switch_expression_handles_some_known_enum_values_with_exception_in_default_highlighting = error
resharper_switch_statement_handles_some_known_enum_values_with_default_highlighting = error
resharper_tail_recursive_call_highlighting = error
resharper_too_wide_local_variable_scope_highlighting = warning
resharper_try_statements_can_be_merged_highlighting = warning
resharper_unassigned_field_global_highlighting = hint
resharper_unassigned_field_local_highlighting = error
resharper_unassigned_get_only_auto_property_highlighting = error
resharper_unnecessary_whitespace_highlighting = suggestion
resharper_useless_binary_operation_highlighting = error
resharper_use_array_creation_expression_1_highlighting = none
resharper_use_array_creation_expression_2_highlighting = none
resharper_use_array_empty_method_highlighting = error
resharper_use_collection_count_property_highlighting = error
resharper_use_empty_types_field_highlighting = error
resharper_use_event_args_empty_field_highlighting = error
resharper_use_is_operator_1_highlighting = none
resharper_use_is_operator_2_highlighting = none
resharper_use_object_or_collection_initializer_highlighting = hint
resharper_use_switch_case_pattern_variable_highlighting = none
resharper_use_throw_if_null_method_highlighting = warning
resharper_use_verbatim_string_highlighting = suggestion
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning

[*.{appxmanifest,asax,ascx,aspx,axaml,build,c,c++,cc,cginc,compute,cp,cpp,cs,cshtml,cu,cuh,cxx,dtd,fx,fxh,h,hh,hlsl,hlsli,hlslinc,hpp,hxx,inc,inl,ino,ipp,master,mpp,mq4,mq5,mqh,nuspec,paml,razor,resw,resx,skin,tpp,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style = space
indent_size = 4
tab_width = 4
